<div class="col-4 col-md-6 col-sm-12 search-profile-card d-flex justify-content-between align-items-center p-3" data-profile-id="{{id}}">
    <div class="col-3 col-md-4">
        <div class="pic-wrapper">
            <img src={{Profile.picture}} class="dashboard-photo" alt="profile-pic">
        </div>
    </div>
    <div class="col-9 col-md-8 d-flex flex-column justify-content-center align-items-start p-2">
        <div class="col-9 d-flex flex-column justify-content-around align-items-center">
            <div class="col-12 d-flex flex-column justify-content-around align-items-start">
                <p class="search-profile-name">{{first_name}}</p>
                <p>{{Profile.location}}</p>
            </div>
            <div class="col-12 d-flex flex-column justify-content-around align-items-start">
                <p>BIO:</p>
                {{#if Profile.bio}}
                <p>{{bio_cut Profile.bio}}...</p>
                {{else}}
                <p>No bio</p>
                {{/if}}
                <a class="view-profile-tag" href="/profiles/{{id}}">View Profile</a>
            </div>
        </div>
        <div class="col-12 mt-2 d-flex flex-row justify-content-between align-items-center">
        {{#each Cuisines}}
            <a href="/search/cuisine/{{id}}" class="cuisine-tag">{{name}}</a>
        {{/each}}
        </div>
    </div>
</div>

{{!-- Need to make cards more uniform --}}