<div class="col profile-card d-flex flex-fill">
    <div class="user-picture col-12 col-md-3 h-30 search">
        {{!-- Profile picture --}}
    </div>
    <div class="d-flex flex-column align-items-center justify-content-around search">
        <div class="d-flex justify-content-center align-items-center">
            <p class="profile-name">{{first_name}} {{last_name}}</p>
        </div>
        <div>
            <p>{{location}}</p>
        </div>
    </div>
    <div class="search">
        <p>BIO:</p>
        {{#if bio}}
        <p>{{bio}}</p>
        {{else}}
        <p>No bio</p>
        {{/if}}
    </div>
</div>