<div class="flex-container dashboard m-2 p-3">
    <div class="d-flex flex-row-reverse">
        <a href="users/edit">
            <button type="button" class="btn" id="edit-btn">⚙️</button>
        </a>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 col-md-4">
            <div class="pic-wrapper">
                <img src={{user.Profile.picture}} class="dashboard-photo" alt="profile-pic">
            </div>
        </div>
        <div class="dashboard-name col-2 align-self-center">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            <h3>{{user.Profile.location}}</h3>
        </div>
        <div class="bio col align-self-center">
            <h3>Bio</h3>
            <p class="profile-bio">{{user.Profile.bio}}</p>
        </div>
    </div>    
    <div class="cuisines d-flex align-self-center">
        <h3 class="justify-content-center">Favorite Cuisines</h3>
        <div class="row p-2 w-75 favorite-cuisines">
            {{#each user.Cuisines}}
            <a href="/search/cuisine/{{id}}">
                <button class="col m-2 fav-cuisine" type="button" data-cuisine-id="{{id}}">{{name}}</button>
            </a>
            {{/each}}
        </div>
    </div>
    <div class="row w-100">
        <div class="col availability">
            <h3>Availability</h3>
            <p class="profile-availability">{{user.Profile.availability}}</p>
        </div>
        <div class="col messages">
            <h3>Messages</h3>
            <button class="btn dash-messages position-relative w-100" type="button">  <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
            </span></button>
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>