<div class="flex-container dashboard m-2 p-3">
    <div class="d-flex flex-row-reverse">
        <a href="users/edit">
            <button type="button" class="btn" id="edit-btn">⚙️</button>
        </a>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 col-md-4">
            <div class="pic-wrapper">
                <img src={{user.Profile.picture}} class="dashboard-photo" alt="profile-pic">
            </div>
        </div>
        <div class="dashboard-name col-2 align-self-center">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            <h3>{{user.Profile.location}}</h3>
        </div>
        <div class="bio col align-self-center">
            <h3>Bio</h3>
            <p class="profile-bio">{{user.Profile.bio}}</p>
        </div>
    </div>    
    <div class="cuisines d-flex align-self-center">
        <h3 class="justify-content-center">Favorite Cuisines</h3>
        <div class="row p-2 w-75 favorite-cuisines">
            {{#each user.Cuisines}}
            <a href="/search/cuisine/{{id}}">
                <button class="col m-2 fav-cuisine" type="button" data-cuisine-id="{{id}}">{{name}}</button>
            </a>
            {{/each}}
        </div>
    </div>
    <div class="row w-100">
        <div class="col availability">
            <h3>Availability</h3>
            <p class="profile-availability">{{user.Profile.availability}}</p>
        </div>
        <div class="col messages">
            <h3>Messages</h3>
            <button class="btn dash-messages position-relative w-100" type="button">    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>                
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" height="10vh"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/></svg>
            </button>
        </div>
    </div>
</div>