<div class="row justify-content-center signup">
    <form class="form w-90 signup-form" id="edit-profile" data-user-id="{{user.id}}">
        <div class="form-group">
            <label for="username-signup">Enter username:</label> <br>
            <input class="form-input w-100" type="text" value="{{user.username}}" id="username-edit">
        </div>
        <div class="form-group">
            <label for="email-signup">Enter email:</label> <br>
            <input class="form-input w-100" type="text" value="{{user.email}}" id="email-edit">
        </div>
        <div class="form-group">
            <label for="password-signup">Enter password:</label> <br>
            {{!-- isn't this password encrypted? Don't know how to grab the unencrypted password --}}
            <input class="form-input w-100" type="text" id="password-edit">
        </div>
        <div class="form-group">
            <label for="location-signup">Enter location:</label> <br>
            <input class="form-input w-100" type="text" value="{{user.Profile.location}}" id="location-edit">
        </div>
        <div class="form-group">
            <label for="first-name-signup">Enter first name:</label> <br>
            <input class="form-input w-100" type="text" value="{{user.first_name}}" id="first-name-edit">
        </div>
        <div class="form-group">
            <label for="last-name-signup">Enter last name:</label> <br>
            <input class="form-input w-100" type="text" value="{{user.last_name}}" id="last-name-edit">
        </div>
        <div class="form-group">
            <label for="bio-signup">Add Bio:</label> <br>
            <input class="form-input w-100" type="text" value="{{user.Profile.bio}}" id="bio-edit" placeholder="Add more about yourself so others can see how cool of a bite buddy you are!">
        </div>
        <div class="form-group">
            <label for="availability-signup">Add Availability:</label> <br>
            <input class="form-input w-100" type="text" value="{{user.Profile.availability}}" id="availability-edit" placeholder="Enter some dates or times you're free to get a bite!">
        </div>
            <div class="form-group col w-100 cuisine-favs container">
                <label for="cuisines-signup">Add your favorite cuisines!</label> <br>
                <div class="row checkbox-section">
                    {{#each cuisine}}
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" value="{{name}}" data-cuisine-id="{{id}}"></input>
                        <label for="option" class="form-check-label">{{name}}</label>
                    </div>
                    {{/each}}
                </div>
            </div>
        <div class="row w-50 align-items-center">
            <button class="btn align-self-center" id="edit" type="submit">Edit</button>
        </div>
        <!-- photo upload -->
    </form>
</div>

<script src="/js/edit.js"></script>