<form id="message-form" data-sender-id="{{senderID}}" data-recipient-id="{{recipientID}}">
    <div>
    {{#each messages}}
    {{#if (eq @root.userID this.sender_id)}}
            {{!-- <div style="color: {{#if (eq this.sender_id senderID)}}green{{else}}blue{{/if}};"> --}}
            <div style="color: red;">
                <p>{{this.body}}</p>
            </div>
    {{else}}
    <div style="color: blue;">
        <p>{{this.body}}</p>
    </div>
    {{/if}}
    {{/each}}
        <input class="form-input w-100" id="message" type="text" id="email-edit">
        <div class="row w-50 align-items-center">
            <button class="btn align-self-center send-btn" id="send" type="submit">Send</button>
        </div>
    </div>
</form>

<script src="/js/message.js"></script>