<div class="other-profile row jusitfy-content-center">
    <div class="profile-photo">
        <img src="{{profile.picture}} ???????" alt="profile picture">
    </div>
    <div class="profile-name">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <h3>{{profile.location}}</h3>
    </div>
    <div class="bio">
        <p>{{profile.bio}}</p>
    </div>
    <div class="favorite-cuisines">
        <ul>
            {{#each User.Cuisines}}
            <li><button class="cuisine">{{name}}</button></li>
            {{/each}}
        </ul>
    </div>
    <div class="availability">
        <p>{{profile.availability}}</p>
    </div>
    <div class="send-message">
        <button>Send {{profile.name}} a message!</button>
    </div>
    <button class="close-profile">X</button>
</div>