<div class="flex-container dashboard m-2 p-3">
    <div class="d-flex flex-row-reverse">
        <button type="button" class="btn" id="exit-btn">X</button>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="pic-wrapper">
                <img src={{user.Profile.picture}} class="dashboard-photo" alt="profile-pic">
            </div>
        </div>
        <div class="dashboard-name col-lg-2 align-self-center">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            <h3>{{user.Profile.location}}</h3>
        </div>
        <div class="bio col align-self-center">
            <h3>Bio</h3>
            <p class="profile-bio">{{user.Profile.bio}}</p>
        </div>
    </div>    
    <div class="cuisines d-flex align-self-center">
        <h3 class="justify-content-center">Favorite Cuisines</h3>
        <div class="p-2 w-75 favorite-cuisines d-flex justify-content-center flex-wrap">
            {{#each user.Cuisines}}
            <button class="col m-2 fav-cuisine" type="button" data-cuisine-id="{{id}}">{{name}}</button>
            {{/each}}
        </div>
    </div>
    <div class="row w-100">
        <div class="col availability">
            <h3>Availability</h3>
            <p class="profile-availability">{{user.Profile.availability}}</p>
        </div>
        <div class="col messages">
            <h3>Send {{user.first_name}} a message!</h3>
            <a href="/messages/{{senderId}}/{{user.id}}">
                <button class="btn dash-messages position-relative w-100" type="button">  
                    <svg xmlns="http://www.w3.org/2000/svg" height="10vh" fill="currentColor" class="bi bi-chat-square-dots-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                </button>
            </a>
        </div>
    </div>
</div>

<script src="/js/profile.js"></script>