<div class="flex-container other-user m-2 p-3">
    <div class="d-flex flex-row-reverse">
        <button class="btn" id="exit-btn">X</button>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 col-md-4">
            <div class="pic-wrapper">
                <img src={{user.Profile.picture}} class="user-picture" alt="profile-pic">
            </div>
        </div>
        <div class="profile-name col-2 align-self-center">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            <h3>{{user.Profile.location}}</h3>
        </div>
        <div class="bio col align-self-center">
            <h3>Bio</h3>
            <p class="profile-bio">{{user.Profile.bio}}</p>
        </div>
    </div>    
    <div class="cuisines d-flex align-self-center">
        <h3 class="justify-content-center">Favorite Cuisines</h3>
        <div class="row p-2 w-75 favorite-cuisines">
            {{#each user.Cuisines}}
            <p class="col m-2 fav-cuisine">{{name}}</p>
            {{/each}}
        </div>
    </div>
    <div class="row w-100">
        <div class="col availability">
            <h3>Availability</h3>
            <p class="profile-availability">{{user.Profile.availability}}</p>
        </div>
        <div class="col messages">
            <h3>Message</h3>
            <button class="btn send-messages position-relative w-100" type="button">Send a Message to {{user.first_name}}</button>
        </div>
    </div>
</div>